{% extends "food/_base.html" %}
{% load static %}

{% block content %}
	<div class="container-fluid">
		<div class="hero">
			<p>Burgers</p>
			<span class="yellow-text">In New York city</span>
			<div class="banner-col">
				<span>Call us</span>
				<span class="yellow-text">8-800-5553-535</span>
				<span class="yellow-text">5-555-5555-555</span>
			</div>
			<div class="banner-col">
				<span>Hours</span>
				<span class="yellow-text">T-F: 7AM – 5PM</span>
				<span class="yellow-text">S-SU: 8AM – 5PM</span>
			</div>
			<div class="banner-col">
				<span>Location</span>
				<span class="yellow-text">242 S 11TH ST.</span>
				<span class="yellow-text">PHILLY, NYC 19107</span>
			</div>
		</div>
	</div>
	

	<!-- categories with cards -->

	<!-- text -->

	<!-- footer -->
{% endblock content %}