{% extends "food/_base.html" %}
{% load static %}

{% block content %}
	<div class="container-fluid">
		<div class="hero">
			<img src="{% static 'images/fooddelivery_04_x1024.webp' %}" alt="">
			<p>Burgers</p>
			<span class="yellow-text">In New York city</span>
			<div class="banner-col">
				<span>Call us</span>
				<span class="yellow-text">8-800-5553-535</span>
				<span class="yellow-text">5-555-5555-555</span>
			</div>
			<div class="banner-col">
				<span>Hours</span>
				<span class="yellow-text">T-F: 7AM – 5PM</span>
				<span class="yellow-text">S-SU: 8AM – 5PM</span>
			</div>
			<div class="banner-col">
				<span>Location</span>
				<span class="yellow-text">242 S 11TH ST.</span>
				<span class="yellow-text">PHILLY, NYC 19107</span>
			</div>
		</div>
	</div>
	<div class="burgers-link">
	    <a class="a_1" href="{% url 'categories' %}">Burgers</a>
	</div>
	<!-- Swiper -->
	    <div class="swiper mySwiper">
	      <div class="swiper-wrapper">
	        <div class="swiper-slide">
				{% for c in category %}
	        		<img src="{{c.product.product_photo.url}}" alt="">
				{% endfor %}
	        </div>
	        <div class="swiper-slide">Slide 2</div>
	        <div class="swiper-slide">Slide 3</div>
	        <div class="swiper-slide">Slide 4</div>
	        <div class="swiper-slide">Slide 5</div>
	        <div class="swiper-slide">Slide 6</div>
	        <div class="swiper-slide">Slide 7</div>
	        <div class="swiper-slide">Slide 8</div>
	      </div>
	      <div class="swiper-button-next"></div>
	      <div class="swiper-button-prev"></div>
	      <div class="swiper-pagination"></div>
	    </div>
	<div class="salads-link">
	    <a class="a_2" href="{% url 'categories' %}">Salads</a>
	</div>
	    <div class="swiper mySwiper">
	      <div class="swiper-wrapper">
	        <div class="swiper-slide">
				{% for c in category %}
	        		<img src="{{c.product.product_photo.url}}" alt="">
				{% endfor %}
	        </div>
	        <div class="swiper-slide">Slide 2</div>
	        <div class="swiper-slide">Slide 3</div>
	        <div class="swiper-slide">Slide 4</div>
	        <div class="swiper-slide">Slide 5</div>
	        <div class="swiper-slide">Slide 6</div>
	        <div class="swiper-slide">Slide 7</div>
	        <div class="swiper-slide">Slide 8</div>
	      </div>
	      <div class="swiper-button-next"></div>
	      <div class="swiper-button-prev"></div>
	      <div class="swiper-pagination"></div>
	    </div>



	    <!-- Swiper JS -->
	    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

	    <!-- Initialize Swiper -->
	    <script>
	      var swiper = new Swiper(".mySwiper", {
	        slidesPerView: 4,
	        spaceBetween: 20,
	        slidesPerGroup: 4,
	        loop: true,
	        loopFillGroupWithBlank: true,
	        pagination: {
	          el: ".swiper-pagination",
	          clickable: true,
	        },
	        navigation: {
	          nextEl: ".swiper-button-next",
	          prevEl: ".swiper-button-prev",
	        },
	      });
	    </script>

	

	<!-- categories with cards -->

	<!-- text -->

	<!-- footer -->
{% endblock content %}