{% extends "food/_base.html" %}
{% load static %}

{% block content %}
	<div class="container">
		<div class="picture-block">
			<div class="product_image">
				<img class="product_picture" src="{{product.product_photo.url}}">
			</div>
		</div>	
		<div class="col-6">
			<div class="product_text">
				<p class="title">{{product.name}}</p>
				<p class="price" style="margin-top: 0;">${{product.price}}</p>
				<p class="description" style="font-family: 'Roboto', sans-serif; padding-top: 50px;" >{{product.description}}</p>
			</div>
		</div>		
	</div>
{% endblock content %}