{% extends 'food/_base.html' %}
{% load static %}

{% block content %}
	
	<section class="sproduct pt-5">
		<div class="product-card">
			<img src="{{ product.product_photo.url }}" alt="">
			<div class="product-info">
				<h1 class="product-title">{{ product.name }}</h1>
				<h2 class="product-price">${{ product.price }}</h2>
				<button id="decrement" onclick="stepper(this)">-</button>
				<input type="number" id="my-input" readonly value="1" min="0" max="100" step="1">
				<button id="increment" onclick="stepper(this)">+</button>
				<button class="buy-btn">Add to cart</button>
				<div class="text mt-5">
					<p>{{product.description|safe}}</p>
				</div>
			</div>
		</div>
	</section>

	<h1 style="color: #ffffff; margin-left: 70px; font-size: 50px;">Related comics</h1>
	<div class="owl-carousel owl-theme">
	    {% for similar_product in similar_products %}
	    	<div class="item">
	    		<img src="{{ similar_product.image.url }}" alt="">
	    		<div class="carousel-item-content">
	    			<h3 class="product-title"><a href="{{ similar_product.get_absolute_url }}" style="color: #fabf00; text-decoration: none;">{{ similar_product.name }}</a></h3>
	    			<h3 class="product-price">${{ similar_product.price }}</h3>
	    		</div>	    		
	    	</div>
	    {% endfor %}
	</div>


	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/owlcarousel/owl.carousel.min.js' %}"></script>

	<script>
		$('.owl-carousel').owlCarousel({
		    loop:true,
		    margin:10,
		    responsiveClass:true,
		    responsive:{
		        0:{
		            items:1,
		            nav:true
		        },
		        600:{
		            items:2,
		            nav:false
		        },
		        1000:{
		            items:3,
		            nav:false
		        },
		        1040:{
		            items:4,
		            nav:true,
		            loop:false
		        }
		    }
		})
	</script>


{% endblock content %}