* {
	font-family: 'Luckiest Guy';
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {

	background-color: #0E0E0E;
	overflow-x: hidden;
}

header {
	display: flex;
	height: 100px;
	justify-content: space-between;
	align-items: center;
}

div.container {
    position: relative;
    top: 100px;
}

header img.logo {
	padding: 40px 20px;
	max-width: 100%;
}

header div.icons i.bi {
	font-size: 20px;
	padding: 0 10px;
	color: #fabf00;
}

nav ul.nav__links {
	display: flex;
	margin: 5px 135px 0px 0px;
}

nav ul.nav__links li.nav__item,
nav ul.nav__links li.nav__item a.nav__link {
	font-weight: 400;
	font-size: 20px;
	letter-spacing: 0.04em;
	color: #fabf00;
	line-height: 1.1;
	list-style: none;
	text-decoration: none;
	padding: 10px;
	text-transform: uppercase;
	cursor: pointer;
}

nav ul.nav__links li.nav__item a.nav__link:hover {
	color: #fff;
}

nav ul.nav__links li.nav__item div.dropdown a.dropbtn  {
    padding: 16px;
    border: none;
    color: #fabf00;
    text-decoration: none;
}

div.icons div.dropdown ul.auth-menu {
    background-color: #333333 !important;
    position: absolute;
    left: -20px !important;
    width: 250px !important;
    padding: 25px 25px 25px 5px;
    margin: 15px !important;
    font-size: 14px;
}

div.icons div.dropdown ul.auth-menu li a {
    color: #fff !important;
    font-family: 'Roboto', sans-serif;
}

div.icons div.dropdown ul.auth-menu li:hover a,
div.icons div.dropdown ul.auth-menu li:hover i {
    background-color: #333333;
    color: #fabf00 !important;
}

div.icons div.dropdown ul.auth-menu li i {
    color: #fff;
}

nav ul.nav__links li.nav__item div.dropdown a.dropbtn:hover {
	background: none;
	color: #fff;
}

nav ul.nav__links li.nav__item div.dropdown {
    position: relative;
    display: inline-block;
}

nav ul.nav__links li.nav__item div.dropdown div.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

nav ul.nav__links li.nav__item div.dropdown div.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

nav ul.nav__links li.nav__item div.dropdown div.dropdown-content a:hover {
	color: #fff;
}

nav ul.nav__links li.nav__item div.dropdown div.dropdown-content {
	background-color: #fabf00 !important;
}

nav ul.nav__links li.nav__item div.dropdown:hover div.dropdown-content {
	display: block;
}

.btn-menu {
  color: #fff;
  padding: 7px;
  position: fixed;
  top: 1%;
  left: 2%;
  cursor: pointer;
  transition: left .23s;
  width: 40px;
  height: 20px;
  transform: translateZ(0);
  backface-visibility: hidden;
}

.btn-menu span {
  display: block;
  height: 3px;
  background-color: #fabf00;
  margin: 5px 0 0 0;
  transition: all .1s linear .23s;
  position: relative;
}

.hidden-menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  list-style: none;
  padding: 0 5px;
  margin: 0;
  box-sizing: border-box;
  width:  20%;
  background-color: #333333;
  height: 100%;
  top: 0;
  right: -20%;
  transition: right .2s;
  z-index: 200;
  transform: translateZ(0);
  backface-visibility: hidden;
}

.hidden-menu li {
  	margin-bottom: 20px;
  	padding: 10px 0;
}

.hidden-menu li a {
  	text-decoration: none;
  	font-size: 20px;
  	color: #fff;
}

.hidden-menu li a:hover {
  	color: #fabf00;
}

.hidden-menu-ticker {
  	display: none;
}

.btn-menu span.first {
  	margin-top: 0;
}

.hidden-menu-ticker:checked~.btn-menu {
  	left: 20%;
}

.hidden-menu-ticker:checked~.hidden-menu{
  	left: 0;
}

.hidden-menu-ticker:checked~.btn-menu span.first {
  	transform: rotate(45deg);
  	top: 8px;
}

.hidden-menu-ticker:checked~.btn-menu span.second {
  	opacity: 0;
}

.hidden-menu-ticker:checked~.btn-menu span.third {
  	transform: rotate(-45deg);
  	top: -8px;
}


@media (max-width: 425px) {
  .hidden-menu {
      width: 80%;
   	  right: -80%;
  }
  .hidden-menu-ticker:checked~.btn-menu {
       right: 80%;
  }
}

header div.hamburger {
	display: none;
}

a.logo2 {
	display: none;
}


@media (max-width: 1020px) {
	header div.hamburger {
		display: block;
	}

	header nav {
		display: none;
	}

	header img.logo {
		display: none;
	}

	header div.icons {
		margin-bottom: 10px;
	}

	header {
		border-bottom: 1px solid #333333;
		height: 80px;
	}

	a.logo2 {
		display: block;
        position: fixed;
        left: 50%;
        top: 70px;
        transform: translate(-50%);
        z-index: 100;
        background: #0E0E0E;
        width: 100%;
        padding: 20px;
	}
    a.logo2 img{
        margin: 0 auto;
        display: block;
    }
    div.gallery{
        margin-top:155px;
    }
}

/* INDEX */

div.main-cover img {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

div.main-cover h1,
div.main-cover h3 {
    text-transform: uppercase;
    position: absolute;
}

div.main-cover h1 {
    font-size: 200px;
    color: #fff;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.main-cover h3 {
    width: 60%;
    color: #fabf00;
    font-size: 80px;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -90%);
}

div.info h4 {
    font-size: 40px;
    color: #fff;
}

div.info h3 {
    font-size: 40px;
    color: #fabf00;
}

div.case {
    width: 100%;
}

div.case h1.category-name {
    text-align: center;
    font-size: 60px;
    margin-top: 100px;
}

div.case h1.category-name a {
    text-decoration: none;
    color: #fff;
}

div.case div.banner {
    position: relative;
    margin-top: 100px;
    width: 100%;
}

div.case div.banner div.text {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(0, -50%);
}

div.case div.banner img {
    width: 100%;
    height: 100%;
}

div.case div.banner div.text h1 {
    color: #fabf00;
    font-size: 82px;
}

div.case div.banner div.text p {
    color: #fff;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
}

div.case div.location {
    position: relative;
    width: 100%;
}

div.case div.location img {
    width: 100%;
    height: 100%;
}

div.case div.location h1 {
    position: absolute;
    top: 40%;
    right: 5%;
    color: #fabf00;
    font-size: 82px;
    transform: (0, -50%)
    align-items: center;
}

div.reviews {
    margin: 250px auto 50px auto;
    width: 100%;
}

div.reviews h1 {
    color: #fff;
    font-size: 60px;
}

div.container div.slideshow-container {
    position: relative;
    margin: 80px 0px 10f0px 0px;
}

div.container div.slideshow-container div.mySlides {
    position: absolute;
    top: 60%;
    display: none;
    padding: 80px;
    text-align: center;
}

div.container div.slideshow-container a.prev, 
div.container div.slideshow-container a.next {
    cursor: pointer;
    position: absolute;
    top: 140%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    text-decoration: none;
}

div.container div.slideshow-container a.prev {
    left: 0;
}

div.container div.slideshow-container a.next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}

div.container div.slideshow-container a.prev:hover,
div.container div.slideshow-container a.next:hover {
    color: #fabf00;
}

div.container div.slideshow-container div.mySlides q {
    font-style: italic;
    font-size: 36px;
    color: #fabf00;
}

div.container div.slideshow-container div.mySlides p.author {
    color: #fff;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    margin: 6px 0px 0px 0px;
}

div.posts-gallery-inscription {
    position: relative;
    top: 400px;
}

div.posts-gallery-inscription h1 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 60px;
} 

div.posts-gallery-inscription h1 a {
    color: #fabf00;
}

div.posts-gallery-inscription h1 a:hover {
    text-decoration: none;
}

div.posts-gallery {
    position: relative;
    width: 100%;
    margin-top: 550px !important;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 0px;
}

div.posts-gallery div.posts-gallery__item {
    position: relative;
    height: 200px;
}   


div.posts-gallery div.posts-gallery__item a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



div.posts-gallery div.posts-gallery__item:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: all .5s ease;
}

div.posts-gallery div.posts-gallery__item:hover:before {
    opacity: 1;
}

div.posts-gallery div.posts-gallery__item div.posts-gallery__item__content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

div.posts-gallery div.posts-gallery__item div.posts-gallery__item__content {
    overflow: hidden;
}

div.posts-gallery div.posts-gallery__item a div.posts-gallery__item__content > i {
    display: block;
    transform: translateY(40px) !important;
    transition: transform 0.4s ease;
    color: #fff;
}

div.posts-gallery div.posts-gallery__item:hover a div.posts-gallery__item__content > i {
    transform: translate(0) !important;
}


@media (max-width: 1200px) {
    div.main-cover h1 {
        font-size: 160px;
    }

    div.main-cover h3 {
        width: 70%;
        font-size: 72px;
    }

    div.reviews h1 {
        font-size: calc(24px + (60 - 24) * ((100vw - 320px) / (1200 - 320)))
    }

    div.container div.slideshow-container div.mySlides q {
        font-size: calc(16px + (36 - 16) * ((100vw - 320px) / (1200 - 320)))
    }

    div.posts-inscription h1 {
        font-size: calc(24px + (60 - 24) * ((100vw - 320px) / (1200 - 320)))
    }
}

@media (max-width: 1020px) {
    div.posts-gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1000px) {
    div.main-cover h1 {
        top: 70%;
        font-size: 80px;
    }

    div.main-cover h3 {
        font-size: 42px;
    }

    div.case div.banner div.text h1 {
        font-size: 26px;
    }

    div.case div.banner div.text p {
        font-size: 20px;
    }

    div.case div.location h1 {
        font-size: 40px;
    }
}

@media (max-width: 780px) {
    div.main-cover h1 {
        top: 72%;
        font-size: 50px;
    }
    div.main-cover h3 {
        font-size: 28px;
    }

    div.case div.banner div.text h1 {
        font-size: 20px;
    }

    div.case div.banner div.text p {
        font-size: 14px;
    }

    div.case div.location h1 {
        font-size: 26px;
    }
}

@media (max-width: 520px) {
    div.posts-gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    div.main-cover h3 {
        top: 100%;
    }

    div.case div.banner div.text h1 {
        font-size: 14px;
    }

    div.case div.banner div.text p {
        font-size: 8px;
    }

    div.case div.location h1 {
        font-size: 14px;
    }
}

@media (max-width: 350px) {
    div.main-cover h3 {
        width: 80%;
        top: 110%;
    }
}

/* CATEGORIES LIST */

div.gallery {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

div.gallery div.gallery__card {
    position: relative;
    width: 32%;
    height: 400px;
    cursor: pointer;
    overflow: hidden;

}

div.gallery div.gallery__card img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1s;
    padding: 5px;
}

div.gallery div.gallery__card h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(250, 191, 0, 0.9);
    padding: 5px 40px;
    font-size: 50px;
}

div.gallery div.gallery__card a {
    color: rgb(25, 25, 25);
    text-decoration: none;
}

div.gallery__card:hover img.gallery__card__picture {
    transform: scale(1.1);
}

@media (max-width: 1200px) {
    div.gallery div.gallery__card h1 {
        font-size: calc(45px + (50 - 45) * ((100vw - 320px) / (1200 - 320)))
    }
}

/* PRODUCTS LIST  */

.gallery-grid {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    padding-top: 150px;
    gap: 20px;
    justify-content: center;
}

.grid-item {
  /*  margin: 15px 0;
    padding: 0 15px;*/
    width: 400px;
    height: 400px;
}
        
.gallery-grid h1 {   
    width: 100%;
    color: #fff;
    text-align: center;
}

.grid-item__inner {
    display: flex;
    position: relative;
    cursor: pointer;
}

.grid-item__inner:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: all .9s ease;
    border: 10px solid #fabf00; 
}

.grid-item__inner:hover:before {
    opacity: 1;
}

.grid-item__inner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1;
}

.grid-item__content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


.grid-item__content {
    overflow: hidden;
}

.grid-item__content > h2 {
    display: block;
    transform: translateY(300px);
    transition: transform 0.4s ease;
    text-align: center;
}

.grid-item__inner:hover .grid-item__content > h2 {
    transform: translate(0);
}


/* PRODUCT DETAIL */

section.sproduct {
    width: 90%;
    margin: 100px auto;
}

/*section.sproduct div.row div.product-info {
    margin-left: 55px;
}*/

section.sproduct div.product-info h1.product-title,
div.related-comics h1 {
    color: #fff;
    font-size: 60px;
}

section.sproduct div.product-info h2.product-price {
    color: #fff; 
}

section.sproduct div.product-info input {
    width: 140px;
    min-width: 96px;
    height: 50px;
    text-align: center;
    margin: 0 0 0 0;
}

section.sproduct div.product-info input::-webkit-outer-spin-button,
section.sproduct div.product-info input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

section.sproduct div.product-info #increment {
    margin: 0 20px 0 0;
}

section.sproduct div.product-info input:focus {
    outline: none;
}

section.sproduct div.product-info button.buy-btn {
    width: 340px;
    height: 46px;
    border: 0;
    background: #fabf00;
}

section.sproduct div.product-info div.text {
    color: #fff;
    font-size: 18px;
}

section.sproduct div.product-info div.text p {
    font-family: sans-serif;
}

section.sproduct div.product-info button#decrement,
section.sproduct div.product-info button#increment {
    background: none;
    border: none;
    font-weight: bold;
    color: gray;
    font-family: sans-serif;
    position: relative;
    font-size: 20px;
}

section.sproduct div.product-info button#decrement {
    left: 30px;
}

section.sproduct div.product-info button#increment {
    right: 30px;
}

div.owl-carousel {
    width: 90%;
    margin: 0 auto;
}

div.owl-carousel div.item:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: all .9s ease;
    border: 10px solid #fabf00; 
}

div.owl-carousel div.item:hover:before {
    content: '';
    opacity: 1;
}   

div.owl-carousel div.item div.carousel-item-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/*div.owl-carousel div.item div.carousel-item-content > h3 {
    font-size: 40px;
}*/

div.owl-carousel div.item div.carousel-item-content h3.product-title {
    color: #fabf00;
    font-size: 1.5em;
    text-align: center;
}

div.owl-carousel div.item div.carousel-item-content h3.product-price {
    color: #ffffff;
    text-align: center;
}

div.owl-carousel div.item div.carousel-item-content > h3 {
    display: block;
    transform: translateY(300px);
    transition: transform 0.4s ease;
}

div.owl-carousel div.item:hover div.carousel-item-content > h3 {
    transform: translate(0);
}

@media (max-width: 1200px) {
/*    section.sproduct div.product-image img {
        height: 500px !important
    }*/

    /*section.sproduct div.product-info {
        margin-left: 35px !important;
    }*/

    section.sproduct div.product-info div.text {
        font-size: 15px;
    }

    section.sproduct div.product-info input {
        width: 100px;
    }

    section.sproduct div.product-info button.buy-btn {
        width: 300px;
    }
}


@media (max-width: 1100px) {
/*    section.sproduct div.row div.product-image img {
        height: 400px !important;
        aspect-ratio: 1;
        object-fit: cover;
    }*/

/*    section.sproduct div.row div.product-info {
        margin-left: 0px !important;
    }*/

    section.sproduct div.product-info input {
        width: 80px;
    }

    section.sproduct div.product-info button.buy-btn {
        width: 250px;
    }
}

@media (max-width: 1000px) {
/*    section.sproduct div.row div.product-image img {
        position: relative;
        left: 50%;
        transform: translate(-50%);
        height: 600px !important;
        max-width: 100%;
        object-fit: cover;
    }*/

    section.sproduct div.product-info {

    }
}

/*@media (max-width: 620px) {
   section.sproduct div.product-image img {
       height: 400px !important;
   } 
}*/

@media (max-width: 350px) {
 /*   section.sproduct div.product-image img {
        height: 300px !important;
    }*/

/*    section.sproduct div.product-info input {
        width: 80px;
    }*/

    section.sproduct div.product-info button.buy-btn {
        width: 150px;
    }
}

/* FOOTER */

.wrapper {
    min-height: 100%;
}

div.footer {
    margin: 100px auto 0px auto;
    width: 92%;
}

div.footer footer {
    height: 100px;
    position: relative;
    margin: 0px;
}

div.footer footer div.row div.col-2 {
    text-transform: uppercase;
}

div.footer footer div.row div.col-2 ul li a {
    font-size: 24px;
    color: #fabf00 !important;
}

div.footer footer div.row div.col-2 h5 {
    font-size: 24px;
    color: #fff;
}

div.col-4 form h5 {
    font-size: 24px;
    color: #fff;
}

div.col-4 form p {
    font-size: 15px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

div.col-4 form div.d-flex input {
    width: 50%;
    font-family: 'Roboto', sans-serif;
    color: #000;
}

div.col-4 form div.d-flex button {
    background-color: #fabf00;
    color: #000;
    border: none;
}

div.col-4 ul.nav li.nav-item {
    padding: 20px 15px 20px 0px;
}

div.col-4 ul.nav li.nav-item i {
    color: #fabf00;
    font-size: 20px;
}

div.d-flex p {
    color: #fff;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;

}

div.footer2 {
    display: none;
}

div.footer2 {
    width: 70%;
    margin: 0 auto;
    text-transform: uppercase;
}

div.footer2 footer section {
    margin: 50px auto;
    border-bottom: 1px solid #393939;
}

div.footer2 footer section h5 {
    color: #fff;
}

div.footer2 footer section button {
    color: #393939;
    transform: scale(1.5);
    padding-bottom: 15px;
    color: #999999;
    background: none;
    border: none;
}

div.footer2 footer div.hide-content {
    color: #fabf00;
}

div.footer2 footer div#hide-content-4 p {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-transform: none;
}

div.footer2 footer div#hide-content-4 input {
    margin: 5px 0px;
    font-family: 'Roboto', sans-serif;
}

div.footer2 footer div#hide-content-4 button {
    margin: 5px 0px;
    width: 100%;
    background-color: #fabf00;
    color: #000;
    border: 0;
}
.owl-carousel .owl-item img {
    aspect-ratio: 1;
    object-fit: cover;
}
@media (max-width: 900px) {
    div.footer footer div.row div.col-4 {
        margin-left: 0px !important;
    }
}

@media (max-width: 800px) {
    div.col-4 form div.d-flex input {
        width: 70%;
        height: 38px;
    }

    div.col-4 form div.d-flex button {
        width: 47%;
        height: 38px;
    }
}


@media (max-width: 790px) {
    div.footer {
        display: none;
    }

    div.footer2 {
        display: block;
    }
}
@media (max-width: 1020px) {
    div.gallery{
        margin-top:165px;
    }
    div.gallery div.gallery__card {
        width: 45%;
    }
}
@media (max-width: 770px) {
    div.gallery div.gallery__card {
        width: 100%;
    }
}

/*@media (max-width: 1270px) {
    section.sproduct div.row div.product-image img {
        width: 100%;
        aspect-ratio: 1;
        object-fit: cover;
    }
}*/
.product-card {
    display: flex;
    gap: 10px ;
}
.product-card img{
    vertical-align: middle;
    width: 45%;
    object-fit: cover;
}

label.btn-menu {
    margin-top: 15px;
}

@media (max-width: 960px){
    .product-card{
        flex-direction: column;
    }
    .product-card img {
        width: 100%;
    }
}

@media (max-width: 454px){
    section.sproduct div.product-info h1.product-title {
        font-size: 2em;
    }
    section.sproduct div.product-info button.buy-btn{
        margin-top: 10px;
        width: 50%;
    }
    section.sproduct div.product-info input {
        width: 50%;
        margin-left: -10px;
    }
}
